<img src="assets/Images/step4.png" alt="foodhome" width="1000px" style="margin-left: 200px; border-radius: 0%">



<!--Need to get chef's name from database-->
<h1> {{ chef ? (chef.chef_fname + " " + chef.chef_lname | titlecase) : 'Chef'}}'s Weekly Meal Plan</h1>
<h2>Please Select at least one meal to checkout</h2>

<div class="daySelector">
    <button *ngFor="let column of daysInAWeek" (click)="updateActiveDay(column)" class="day"
        [style.background-color]="column==activeDay? 'rgb(260, 200, 40)': ''">{{column}}</button>
</div>
<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title">{{clickedMenu.item_name}}</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <div class="chef">
            <div class="chef-details">
                <div class="title">Delivered by<span>chef {{chef.chef_fname + " " + chef.chef_lname | titlecase}}</span></div>
              </div>
            <div class="chef-pic">
              <img class="image1" [name]="chef.chef_image" [src]="chef.chef_image" width="100px" height="100px">             
            </div>
          </div>
          <img class="popup-foodImage" [src]="clickedMenu.menu_item_image">
          <div class="menu-ingrediant">
              <div class="ing-container">
                Ingredients:
                <ol class="ingrediants">
                  <li class="ing" *ngFor="let ing of clickedMenu.item_ingredients.split(',')">{{ing}}</li>
                </ol>
              </div>
              <div class="fact-container">
                Interesting Facts:
                <ol class="ingrediants">
                  <li class="ing" *ngFor="let ing of clickedMenu.item_intresting_facts.split(',')">{{ing}}</li>
                </ol>
              </div>
              
          </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>
  </ng-template>
<ng-template #noMenu>
    <div class="nomenu">
        Menu for the day yet to be added!!!
    </div>
</ng-template>
<h3>Ethni-Cuisine Menu</h3>
<div class="menu-container" *ngIf="!isMenuEmpty; else noMenu">
    <div class="meal breakfast" *ngIf="Breakfast.length">
        <div class="weekday">Breakfast</div>
        <div class="menu" *ngFor="let menu of Breakfast" >
            <img class="foodImage" [src]="menu.menu_item_image" (click)="showMenuModal(menu)">
            <div class="name"> {{menu.item_name}} -> {{menu.menu_item_price | currency:'USD' }} </div> 
            <div class="menu-action">
                <button class="sub" (click)="reduceQuantity(menu)">&#8722;</button><span>{{getQuantity(menu.menuid)}}</span><button class="add" (click)="increaseQuantity(menu)">+</button>
            </div>
        </div>
    </div>
    <div class="meal Lunch" *ngIf="Lunch.length">
        <div class="weekday">Lunch</div>
        <div class="menu" *ngFor="let menu of Lunch" >
            <img class="foodImage" [src]="menu.menu_item_image" (click)="showMenuModal(menu)">
            <div class="name"> {{menu.item_name}} -> {{menu.menu_item_price | currency:'USD' }} </div> 
            <div class="menu-action">
                <button class="sub" (click)="reduceQuantity(menu)">&#8722;</button><span>{{getQuantity(menu.menuid)}}</span><button class="add" (click)="increaseQuantity(menu)">+</button>
            </div>
        </div>
    </div>
    <div class="meal Dinner" *ngIf="Dinner.length">
        <div class="weekday">Dinner</div>
        <div class="menu" *ngFor="let menu of Dinner" >
            <img class="foodImage" [src]="menu.menu_item_image" (click)="showMenuModal(menu)">
            <div class="name"> {{menu.item_name}} -> {{menu.menu_item_price | currency:'USD' }} </div> 
            <div class="menu-action">
                <button class="sub" (click)="reduceQuantity(menu)">&#8722;</button><span>{{getQuantity(menu.menuid)}}</span><button class="add" (click)="increaseQuantity(menu)">+</button>
            </div>
        </div>
        
    </div>
</div>

<div>
    <nav>
        <a class="routing" (click)="navigatePreviousPage()">Back</a>
        <a class="routing" (click)="goToOrderSummary()">Continue</a>
    </nav>
</div>

<!-- The Modal -->
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close" (click)="closeModal()">&times;</span>
        <!--Where the popup design goes; will need to query the database for information-->
        <table class="popupTable">
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>




                <td class="foodName">Name of Food Item here</td>

                <td></td>
                <td></td>
                <td></td>
                <td></td>

                <td>
                    <img class="chefImage" src="assets/Images/temporaryFoodImage.png">
                </td>

            </tr>



        </table>

        <p class="chefName">Cooked by Chef Name Here</p>


        <img class="popupFoodImage" src="assets/Images/temporaryFoodImage.png">

        <p class="foodName">Food Name goes here Price: $###.##</p>

        <table class="infoHeaderTable">
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>




                <td class="infoHeader">Ingredients</td>

                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>

                <td class="infoHeader">Interesting Facts</td>


            </tr>



        </table>

        <table class="infoBodyTable">
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>



                <td class="infoBody">Ingredients list goes here</td>

                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>




                <td class="infoBody">Interesting facts go here</td>


            </tr>



        </table>



    </div>