/*Starts circles near center*/
.progressCircle{
    margin-left: 10%;
    }

    /*Formats Current Circle*/
   .progressCircle a.current{
    margin: 25px;
    line-height: 250px;
    border-radius: 50%;
    font-size: 15px;
    color: #000;
    text-align: center;
    background: #F6c515;
    padding: 75px 50px;
    border-style:outset;
   } 

   /*Formats non-Current Circles*/
   .progressCircle a.notCurrent{
    margin: 25px;
    line-height: 250px;
    border-radius: 50%;
    font-size: 15px;
    color: #808080;
    text-align: center;
    background: #dbdada;
    padding: 75px 50px;
    border-style:outset;
   } 

    /* Rest of styling*/
    h1{
        text-align: center;
        font-size: 50px;
    }

    h2{
        text-align: center;
        font-size: 25px;
    }
/* Day Menu Bar*/
    .daySelector{
        margin-left: 12.5%;
    }

    .day{
        width:200px;
        text-align:center;
        padding: 20px 60px;
        display: inline-block;
        margin-top: 15px;
        color: black;
        background: #ddd;
        font-size: 15px;
        border: none;
        cursor: pointer;
        
    }
    .day:hover{
            background-color: #F6c515;
            color: black;
    }

    h3{
        text-align: center;
        font-size: 25px;
    }

    /*Food Items*/

    table.mealTable{
        margin-left:2.5%;
        margin-top: 100px;
    }

    table tr td:empty{
        width: 50px;
    }


    .mealTime{
        font-size: 25px;
        color:green;
    }

    .foodImage{
        width: 300px;
        height: 300px;
        border-radius:50%;
    }

    .popupFoodImage{
        width: 500px;
        height: 500px;
        margin-left: 32.5%;
        
    }

    .chefImage{
        width: 300px;
        height: 300px;
        border-radius:50%;
    }

    .foodName{
        font-size: 50px;
        margin-left: 25%;
    }

    .infoHeader{
        font-size: 30px;
    }

    .infoBody{
        font-size: 20px;
    }

    .chefName{
        font-size: 20px;
        margin-left: 65%;
    }

    table.textTable{
        margin-left:20%;
    }

    

    /*Styling router buttons*/
 a.routing{
    width:250px;
    text-align:center;
    padding: 20px 75px;
    display: inline-block;
    margin-top: 120px;
    margin-left: 22.5%;
    color: black;
    background: #F6c515;
    font-size: 30px;
    border: none;
    cursor: pointer;
  }


/*Testing Modals*/
.modal {
   /* display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }