<div class="panel-footer" >
    <table class="table">
      <thead>
        <tr>
          <th>Help Center</th>
          <th>Services</th>
          <th>Career</th>
          <th>Social Media</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><a routerLink="/FAQs">FAQS</a></td>
          <td><a routerLink="/FindChef"> Find a Chef</a></td>
          <td><a routerLink="/chefsignup1"> Register as a chef
             </a></td>
          <td>
            <i
              class="fa fa-facebook-square"
              style="color: #4267b2; margin-right: 5px"
              aria-hidden="true"
            ></i>
            <i
              class="fa fa-pinterest"
              style="color: red; margin-right: 5px"
            ></i>
            <i
              class="fa fa-twitter"
              style="color: #1da1f2; margin-right: 5px"
            ></i>
            <i
              class="fa fa-youtube-square"
              style="color: red; margin-right: 5px"
            ></i>
            <i
              class="fa fa-instagram"
              style="color: #8a3ab9"
              aria-hidden="true"
            ></i>
          </td>
        </tr>
        <tr>
          <td><a routerLink="/Contact"> Contact Us</a></td>
          
        </tr>
        <tr>
          <td><a routerLink="/Terms">Terms of Services</a></td>
        </tr>
        <tr>
          <td><a routerLink="/Privacypolicy">Privacy Policy</a></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="copy">
    <p> Copyright 2022 All Copy Rights Reserved | Designed and Developed by Ethni-Connect Group</p>
  
  </div>
