.button1 {
  border-radius: 10%;
  border: none;
  cursor: pointer;
  background-color: #f6c515 ;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 24px 242px;
  cursor: pointer;
  width: 50%;
}

.limitTextHeight {
  height: 20px;
  overflow: hidden;
}
body {
  margin-left: 200px;
  margin-right: 200px;
}
