/* Rest of the Page Styling */

a.orderNum{
    margin-left: 20%;
    font-size: 64px;
    line-height: 500px;
    color: black;
    
    
}

a.routing{
    width:300px;
    text-align:center;
    padding: 20px 75px;
    display: inline-block;
    margin-top: 200px;
    margin-left: 42.5%;
    color: black;
    background: #F6c515;
    font-size: 30px;
    border: none;
    cursor: pointer;
  }