<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  

  </head>
  <body>
  


    <br>
    <div class="box1" style="margin-bottom: -60px;">
      <ul>
        <li> <br><img src="assets/Images/isasiah.png" alt="enrique olvera" style="height:200px">
        </li>
        <li > <h1>Isasiah Hames</h1>
          <i class='fas fa-map-marker-alt'></i>   DB Address
      </ul>
    </div>

    <div class="box2" >
      <ul>
        <li >     
            <button type="button" >Place an order with home cooked food </button> <br> <br>
    
            <!-- <button type="button" >Book an Appointment with an interpreter</button> -->
        </li>
            
       <li >     
        <div >  
            <p> Appointments</p>

        </div>
       
       
        </li>
    </ul>
  
          </div> 
   
  </body>
  <div class="panel-footer" style="margin-top: 600px">
    <table class="table">
      <thead>
        <tr>
          <th>Help Center</th>
          <th>Services</th>
          <th>Career</th>
          <th>Social Media</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><a href="FAQs">FAQS</a></td>
          <td><a href="FindChef"> Find a Chef</a></td>
          <td><a href="chefsignup1"> Register as a chef
             </a></td>
          <td>
            <i
              class="fa fa-facebook-square"
              style="color: #4267b2; margin-right: 5px"
              aria-hidden="true"
            ></i>
            <i
              class="fa fa-pinterest"
              style="color: red; margin-right: 5px"
            ></i>
            <i
              class="fa fa-twitter"
              style="color: #1da1f2; margin-right: 5px"
            ></i>
            <i
              class="fa fa-youtube-square"
              style="color: red; margin-right: 5px"
            ></i>
            <i
              class="fa fa-instagram"
              style="color: #8a3ab9"
              aria-hidden="true"
            ></i>
          </td>
        </tr>
        <tr>
          <td><a href="Contact"> Contact Us</a></td>
          
        </tr>
        <tr>
          <td><a href="Terms">Terms of Services</a></td>
        </tr>
        <tr>
          <td><a href="Privacypolicy">Privacy Policy</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</html>
