<!--Needs to grab order ID from database-->
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
      /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
      @media screen and (max-width: 600px) {
        .column {
          width: 100%;
        }
      }

      @media screen and (max-width: 600px) {
        .topnav .search-container {
          float: none;
        }
        .topnav a,
        .topnav input[type="text"],
        .topnav .search-container button {
          float: none;
          display: block;
          text-align: left;
          width: 100%;
          margin: 0;
          padding: 14px;
        }
        .topnav input[type="text"] {
          border: 1px solid #ccc;
        }
      }
    </style>
  </head>
  <body>
    <div class="header"></div>
    <br />

    <h1 style="text-align: center">Write a Review to Our Chef</h1>
    <button style="width: 170px; margin-left: 40px">Go back to Homepage</button>
    <div class="box1">
      <ul>
        <li>
          <img
            src="/image/enrique olvera.jpeg"
            alt="enrique olvera"
            style="height: 300px"
          />
        </li>
        <li style="width: auto">
          <h1>Enrique Olvera</h1>
          <i class="fas fa-map-marker-alt" *ngFor="let data of data"></i>
          <p>
            <b>Cooking Experience: </b>
            <u style="color: darkblue"> {{ data.cook_exp }} </u>Years
          </p>
          <p><b>Member Since: </b>{{ data.memb_since | date: "shortDate" }}</p>
          <p>
            <b>Received:</b> <u><b style="color: darkblue"> 0 </b></u>Reviews
          </p>
    
        </li>
        <li style="width: 100px"></li>
        <li>
          <h3>Chef's Contact Information</h3>
          <p style="color: darkblue"><b>☎️ Phone#: </b>{{ data.phone }}</p>
          <p style="color: darkblue">
            <b>📧&nbsp; Email: </b>{{ data.emailid }}
          </p>
          <p style="color: darkblue">
            <b>🏠 Food Pickup Address: </b>{{ data.address }}
          </p>
          <br />
          <h4>Payment Method(s):</h4>
          <P style="color: darkblue">{{ data.payment }} </P>

          <hr style="font-size: large" />
          <h3>Review Rating Distribution:</h3>
          <u> <b style="font-size: 16px; color: red">&nbsp 4 &nbsp</b></u
          ><span style="color: darkblue">&nbsp Customers Rated 5 Stars</span
          ><br />
          <u> <b style="font-size: 16px; color: red">&nbsp 1 &nbsp</b></u
          ><span style="color: darkblue">&nbsp Customers Rated 4 Stars</span
          ><br />
          <u> <b style="font-size: 16px; color: red">&nbsp 0 &nbsp</b></u
          ><span style="color: darkblue">&nbsp Customers Rated 3 Stars</span
          ><br />
          <u> <b style="font-size: 16px; color: red">&nbsp 0 &nbsp</b></u
          ><span style="color: darkblue">&nbsp Customers Rated 2 Stars</span
          ><br />
          <u> <b style="font-size: 16px; color: red">&nbsp 0 &nbsp</b></u
          ><span style="color: darkblue">&nbsp Customers Rated 1 Stars</span
          ><br />
        </li>
      </ul>
    </div>
    <br /><br />
    <div class="box3">
      <ul>
        <h2 style="text-align: center; color: rgb(260, 200, 40)">
          You have reviewed successfully!
        </h2>
        <p>
          You can click the edit button to re-edit your review, and the delete
          button to delete your review.
        </p>
        <hr />
        <hr />
        <li>
          <img
            src="/image/LisaH.png"
            alt="Lisa H"
            style="margin: 10px 0 0 200px"
          />
          <h3 style="margin: 0 0 0 190px">Hi, Lisa H !</h3>
          <span style="margin-left: 100px"
            >Selert an overall rating:
            <select style="font-size: 12px; color: red">
              <option value="5 stars ">5 stars ★★★★★</option>
              <option value="4 stars ">4 stars ★★★★☆</option>
              <option value="3 stars ">3 stars ★★★☆☆</option>
              <option value="1 stars ">2 stars ★★☆☆☆</option>
              <option value="0 stars ">1 stars ★☆☆☆☆</option>
            </select></span
          >
          <br /><br />
          <input
            type="text"
            id="title"
            name="title"
            placeholder="Type your title here (Optional)"
            size="auto"
            style="
              font-size: 18px;
              background-color: lightgray;
              margin-left: 130px;
            "
          />
          <br />
          <br />

          <textarea
            name="fooddescription"
            form="usrform"
            style="
              background-color: lightgray;
              color: gray;
              width: 470px;
              height: 200px;
            "
          >
Type your comments here (Required. 2000 charaters maximum)</textarea
          >
          <br />
          
          <br />
          <button style="margin-left: 40px">Edit</button>

          <button style="width: 170px">Go back to Homepage</button>
        </li>
      </ul>
    </div>
  </body>
  <div class="panel-footer" style="margin-top: 600px">
    <table class="table">
      <thead>
        <tr>
          <th>Help Center</th>
          <th>Services</th>
          <th>Career</th>
          <th>Social Media</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><a href="FAQs">FAQS</a></td>
          <td><a href="FindChef"> Find a Chef</a></td>
          <td><a href="chefsignup1"> Register as a chef </a></td>
          <td>
            <i
              class="fa fa-facebook-square"
              style="color: #4267b2; margin-right: 5px"
              aria-hidden="true"
            ></i>
            <i
              class="fa fa-pinterest"
              style="color: red; margin-right: 5px"
            ></i>
            <i
              class="fa fa-twitter"
              style="color: #1da1f2; margin-right: 5px"
            ></i>
            <i
              class="fa fa-youtube-square"
              style="color: red; margin-right: 5px"
            ></i>
            <i
              class="fa fa-instagram"
              style="color: #8a3ab9"
              aria-hidden="true"
            ></i>
          </td>
        </tr>
        <tr>
          <td><a href="Contact"> Contact Us</a></td>
        </tr>
        <tr>
          <td><a href="Terms">Terms of Services</a></td>
        </tr>
        <tr>
          <td><a href="Privacypolicy">Privacy Policy</a></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="copy">
    <p>
      Copyright 2022 All Copy Rights Reserved | Designed and Developed by
      Ethni-Connect Group
    </p>
  </div>
</html>
