button {
    border: #F6c515;
    background-color: #F6c515;
    height: 50px;
    width: 150px;
    font-size: large;
  
  }
  
  form {
    margin: auto;
    border: 3px solid #f1f1f1;
    width: 680px; 
    height: 330px;
  }



    input[type=text], input[type=password] {
        font-size: large; 
        width: 70%;
        padding: 12px 20px;
        margin: 18px 100px;
        display: inline-block;
        border: 1px solid #ccc;
      
      }


