<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- <script type="text/javascript" src="chefeditprofile.js"></script> -->
  </head>
  <body>
    <br />
    <h1 style="text-align: center">Account Details</h1>
    <br />
    <form class="form" id="login" style="margin-top: 10px">
      <br />
      <div class="box1">
        <ul>
          <li>
            <label for="Name"><b>First Name:</b></label
            >&nbsp;
            <input
              type="text"
              style="width: 120px"
              placeholder="First Name"
              required
              name="firstname"
              [(ngModel)]="firstName"
            /><br />
            <div *ngIf="fError" style="color: red;">*input is invalid</div>
            <br />
            <br />
            <label for="Name"><b>Last Name:</b></label
            >&nbsp;
            <input
              type="text"
              style="width: 120px"
              placeholder="Last Name"
              required
              name="lastname"
              [(ngModel)]="lastName"
            /><br />            
            <div *ngIf="lError" style="color: red;">*input is invalid</div>
            <br />
            <br />
            <input type="file" (change)="onFileChange($event)" />
            <img
              *ngFor="let url of images"
              [src]="url"
              height="150"
              width="200px"
              style="margin: 3px"
            />
            <br />
            <br /><br />
            <label for="Name"><b>My Payment Method(s):</b></label>
            <select
              name="PaymentMethod(s)"
              id="PaymentMethod(s)"
              [(ngModel)]="selected"
            >
              <option value="Cash only upon pickup">
                Cash only upon pickup
              </option>
              <option value="Credit card (currently unavailable)">
                Credit Card (currently unavailable)
              </option>
            </select>
          </li>
          <li style="width: auto; margin-left: 140px">
            <label for="Address"><b>Address:</b></label
            >&nbsp;
            <input
              type="text"
              id="Address"
              name="Address"
              placeholder="Enter your address"
              required
              name="address"
              [(ngModel)]="address"
            /><br />
            <div *ngIf="aError" style="color: red;">*input is invalid</div>
            <br />
            <br />
            <label for="year"><b>Cooking experience (years): </b></label>&nbsp;
            <input
              type="text"
              id="year"
              name="year"
              size="4"
              placeholder="No. Y"
              required
              name="cookExp"
              [(ngModel)]="cookExp"
            /><br />
            <div *ngIf="cError" style="color: red;">*input is invalid</div>
            <br />
            <br />
            <label for="date"><b>Member Since: </b></label>&nbsp;
            <input type="date" id="date" name="date" /><br /><br />

            <label for="Phone#"><b>Phone Number: </b></label>&nbsp;
            <input
              type="tel"
              id="phone"
              name="phone"
              placeholder="123-456-7890"
              pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
              required
              name="phone"
              [(ngModel)]="phone"
            /><br />
            <div *ngIf="pError" style="color: red;">*input is invalid</div>
            <br />
            <br />
            <b><label for="email"> Email:</label> </b>&nbsp;
            <input
              type="email"
              id="Email"
              placeholder="Enter email address"
              required
              name="emailid"
              [(ngModel)]="emailid"
            />
            <div *ngIf="emailError" style="color: red;">*input is invalid</div>
            <br />
          </li>
        </ul>
      </div>
      <br />
      <button
        (click)="onSubmit()"
        type="submit"
        value="Save profile"
        style="
          color: black;
          float: right;
          width: auto;
          height: auto;
          font-size: 25px;
          border-radius: 12%;
          margin-top: 50px;
          margin-right: 340px;
        "
      >
        Save Profile
      </button>
    </form>
    <script>
      function myFunction() {
        document.getElementById("Email").placeholder = "Your email address";
      }
    </script>
  </body>

</html>

