<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- <script type="text/javascript" src="chefeditprofile.js"></script> -->
  </head>
  <body>
    <h1 style="text-align:center" > Account Details </h1> 
    <form class="form" id="login" style="margin-top: 10px">
      <h1 style="text-align: center">Enrique Olvera</h1>

      <br />
      <div class="box1">
        <ul>
          <li>
            <label for="Name"><b>First Name:</b></label
            >&nbsp;
            <input
              type="text"
              style="width: 120px"
              placeholder="First Name"
              required
              name="firstname"
              [(ngModel)]="firstName"
            ><br><br>
            <label for="Name"><b>Last Name:</b></label
            >&nbsp;
            <input
              type="text"
              style="width: 120px"
              placeholder="Last Name"
              required
              name="lastname"
              [(ngModel)]="lastName"
            /><br><br>

            <img
              src=""
              alt="profile picture"
              style="height: 70px; width: 240px"
            />
            <button
              style="
                color: darkblue;
                background-color: lightgray;
                height: 25px;
                font-size: 12px;
              "
            >
              Update profile picture
            </button><br><br>
            <label for="Name"><b>My Payment Method(s):</b></label
              >
          
            <select
              name="PaymentMethod(s)"
              id="PaymentMethod(s)"
              [(ngModel)]="selected"
            >
              <option value="Cash only upon pickup">Cash only upon pickup</option>
              <option value="Credit card (currently unavailable)">
                Credit Card (currently unavailable)
              </option>
            </select>
          </li>
          <li style="width: auto; margin-left: 140px">
            <label for="Address"><b>Address:</b></label
            >&nbsp;
            <input
              type="text"
              id="Address"
              name="Address"
              placeholder="Enter your address"
              required
              name="address"
              [(ngModel)]="address"
            /><br /><br />
            <label for="year"><b>Cooking experience (years): </b></label>
            <input
              type="text"
              id="year"
              name="year"
              size="4"
              placeholder="No. Y"
              required
              name="cookExp"
              [(ngModel)]="cookExp"
            /><br /><br />
            <label for="date"><b>Member Since: </b></label>
            <input type="date" id="date" name="date" /><br /><br />

            <label for="Phone#"><b>Phone Number: </b></label>
            <input
              type="tel"
              id="phone"
              name="phone"
              placeholder="123-456-7890"
              pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
              required
              name="phone"
              [(ngModel)]="phone"
            /><br />
            <br /><b><label for="email"> Email:</label> </b>&nbsp;
            <input
              type="email"
              id="Email"
              placeholder="Enter email address"
              required
              name="emailid"
              [(ngModel)]="emailid"
            />
          </li>
        </ul>
      </div>

    <button (click)="onSubmit()" type="submit" value="Save profile" style="color:black; float: right; width: auto; height: auto; font-size: 25px; border-radius:12%;">Save Profile</button>
    
</form>
    <script>
      function myFunction() {
        document.getElementById("Email").placeholder = "Your email address";
      }
      </script>
  </body>


<div class="panel-footer">
  
  <table class ="table">
    <thead>
      <tr>
       <th>Help Center</th>
       <th>Services</th>
       <th>Career</th>
       <th>Social Media</th>
      </tr>
    
    </thead>
   
   <tbody>
     <tr>
        <td> <a routerLink="FAQs">FAQS</a></td>
       <td>Find a Chef</td>
       <td>Become a chef</td>
       <td>
        <i
          class="fa fa-facebook-square"
          style="color: #4267b2; margin-right: 5px"
          aria-hidden="true"
        ></i>
        <i
          class="fa fa-pinterest"
          style="color: red; margin-right: 5px"
        ></i>

        <i
          class="fa fa-twitter"
          style="color: #1da1f2; margin-right: 5px"
        ></i>
        <i
          class="fa fa-youtube-square"
          style="color: red; margin-right: 5px"
        ></i>
        <i
          class="fa fa-instagram"
          style="color: #8a3ab9"
          aria-hidden="true"
        ></i>
      </td>
     </tr>

       
     <tr>
       <td>Contact Us</td>
       <td>Find an Interpreter</td>
       <td>Become a Interpreter</td> 
     </tr>

     <tr>
       <td>Terms of Services</td>

     </tr>

     <tr>
       <td>Privacy Policy</td>
   
    </tr>

   </tbody>

  </table>
  
</div>
<div class="copy">
 <p> Copyright 2022 All Copy Rights Reserved | Designed and Developed by Ethni-Connect Group</p>

</div>
</html>

