body {
    margin: 0px 130px;
  }
  .box1 {
    width: 1010px;
    margin: auto;
    height: 350px;
  }
  
  .box1 li {
    list-style: none;
    float: left;
    width: 230px;
    height: 350px;
  }
  
  .box2 {
    width: 1100px;
    margin: auto;
    height: auto;
  }
  
  .box2 li {
    list-style: none;
    float: left;
    width: 50%;
  }
  
  button {
    margin: 10px 0 0 0;
    background-color: rgb(260, 200, 40);
    height: 30px;
    border-radius: 10%;
    font-size: 14px;
  }
  
  select {
    border: rgb(260, 200, 40, 0.6) solid;
  }
  
  a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
  }
  
  
  
  
  
  
  