<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    /></head
  ><br />
  <body>
    <h1 style="text-align: center">
      My Profile <br />
      <button
        style="color: darkblue; background-color: lightgray; font-size: 12px"
      >
        <a href="chefeditprofile">Edit my profile</a>
      </button>
    </h1>
    <br />
    <div class="box1">
      <ul>
        <li>
          <img
            src="assets/Images/enrique olvera.jpeg"
            alt="enrique olvera"
            style="height: 300px"
          />
        </li>
        <li style="width: auto">
          <h1>Enrique Olvera</h1>
          <i class="fas fa-map-marker-alt" *ngFor="let data of data"></i>
          <p>
            <b>Cooking Experience: </b>
            <u style="color: darkblue"> &nbsp;{{ data.cook_exp }} &nbsp;</u
            >Years
          </p>
          <p><b>Member Since: </b>{{ data.memb_since | date: "shortDate" }}</p>
          <p>
            <b>Received:</b>
            <u><b style="color: darkblue"> &nbsp; 2 &nbsp;</b></u
            >Reviews
          </p>
          <b style="color: red">★★★★★</b>
  
          <br ><button>See all Reviews</button>
        </li>
        <li style="width: 100px"></li>
        <li>
          <h4 style="margin-top: 25px">Contact Information:</h4>
          <p style="color: darkblue"><b>☎️ Phone#: </b>{{ data.phone }}</p>
          <p style="color: darkblue">
            <b>📧&nbsp; Email: </b>{{ data.emailid }}
          </p>
          <p style="color: darkblue">
            <b>🏠 Food Pickup Address: </b>{{ data.address }}
          </p>
          <br />
          <h4>Payment Method(s):</h4>
          <P style="color: darkblue">{{ data.payment }} </P>
          <button style="font-size: 14px; height: 40px">
            <b>Check Customer orders</b>
          </button>
        </li>
      </ul>
    </div>

    <div class="box2">
      <ul>
        <li>
          <button style="font-size: 24px; height: 40px; margin-left: 100px">
            <b> Edit My Featured Cuisines</b>
          </button>
          <br >

<!-- ADD IMAGE OF GENERAL CUISINES -->

        </li>

        <li>
          <button style="font-size: 24px; height: 40px; margin-left: 100px">
            <b>Edit My Weekly Food Menu</b></button><br>
            <!-- add image of general menu  -->
          <br>
        </li>
      </ul>
    </div>
  </body>





</html>
