<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- <script type="text/javascript" src="chefeditprofile.js"></script> -->
  </head>
  <body>
    <form [formGroup]="forgotPasswordForm" style ="margin-top: 80px;">
      <h2 style="text-align: center;">Enter you email address and we will send you a link to reset your password.</h2>
      <br/>
      <input formControlName="email"  type="email" placeholder="Enter your email" required>
      <span *ngIf="forgotPasswordForm.controls['email'].errors">
        <span
          *ngIf="forgotPasswordForm.controls['email'].errors['required']  && submitted"
          class="forgotPasswordFormError">
          {{'Email is Required'}}
        </span>
        <span
        *ngIf="forgotPasswordForm.controls['email'].errors['email']  && submitted"
        class="forgotPasswordFormError">
        {{'Enter a Valid Email'}}
      </span>
    </span>
      <div>
        <br>

  </div>  
    <div style ="margin-left: 120px;">
      <button type="button" routerLink = "/Login">Go Back</button>
      <button type="submit" (click)="forgotPassword()" style="margin-left: 100px; " >Reset Password</button>
    </div>  
    </form>
  </body>
  <div class="panel-footer" style="margin-top: 600px">
    <table class="table">
      <thead>
        <tr>
          <th>Help Center</th>
          <th>Services</th>
          <th>Career</th>
          <th>Social Media</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><a href="FAQs">FAQS</a></td>
          <td><a href="FindChef"> Find a Chef</a></td>
          <td><a href="chefsignup1"> Register as a chef
             </a></td>
          <td>
            <i
              class="fa fa-facebook-square"
              style="color: #4267b2; margin-right: 5px"
              aria-hidden="true"
            ></i>
            <i
              class="fa fa-pinterest"
              style="color: red; margin-right: 5px"
            ></i>
            <i
              class="fa fa-twitter"
              style="color: #1da1f2; margin-right: 5px"
            ></i>
            <i
              class="fa fa-youtube-square"
              style="color: red; margin-right: 5px"
            ></i>
            <i
              class="fa fa-instagram"
              style="color: #8a3ab9"
              aria-hidden="true"
            ></i>
          </td>
        </tr>
        <tr>
          <td><a href="Contact"> Contact Us</a></td>
          
        </tr>
        <tr>
          <td><a href="Terms">Terms of Services</a></td>
        </tr>
        <tr>
          <td><a href="Privacypolicy">Privacy Policy</a></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="copy">
   <p> Copyright 2022 All Copy Rights Reserved | Designed and Developed by Ethni-Connect Group</p>
 
 </div>
 

</html>
