  button {
    background-color: #F6c515;
    color: white;
    padding: 14px 20px;
    margin: 25px 0;
    border: none;
    cursor: pointer;
    width: 30%;
  }
  
  form {
    margin: auto;
    border: 3px solid #f1f1f1;
    width: 680px; 
    height: 300px;
  }

  input {
       font-size: large; 
       padding: 10px 10px; 
       margin-left: 150px;
       margin-top: 2px; 
       width: 60%;
    }

    .forgotPasswordFormError{
      color: #FF0000 !important;
      font-size: 12px;
      float: left;
      padding-top: 5px;
      margin-left : 175px;
    }




