<!--Needs to grab order ID from database-->
<div>
  <a class="orderNum">Order Number: ######</a>
</div>

<!--Needs to grab Chef Name from database-->
<div>
  <a class="orderTitle">Your Order has been received by Chef Name Here</a>
</div>

<div>
  <a class="chefContact">Reach Chef Name Here at emailName@gmail.com</a>
</div>

<div>
  <nav>
    <a class="routing" href="CancelOrder">Cancel Your Order</a>
    <a class="routing" href="">Continue Shopping</a>
  </nav>
</div>
 
<div>
  <a class="cancelMsg"
    >Note: Orders cannot be canceled within four hours of your delivery time.
    Thank You.</a
  >
</div>