body {
    margin: 0px 130px;
  }
  .box1 {
    width: 980px;
    margin: auto;
    height: 300px;
  }
  
  .box1 li {
    list-style: none;
    float: left;
    width: 232px;
    height: 300px;
  }
  .box2 {
    width: 980px;
    margin: auto;
  }
  
  .box2 li {
    list-style: none;
    float: left;
    width: 230px;
    height: 10px;
  }
  
  button {
    margin: 0px 30px 0 0;
    background-color: rgb(260, 200, 40);
    height: 30px;
   
    border-radius: 10%;
    font-size: 14px;
  }
  
  select {
    border: rgb(260, 200, 40, 0.6) solid;
  }
  
  .box3 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .box3 li {
    list-style: none;
  }
  a {
      text-decoration: none;
      display: inline-block;
      padding: 8px 16px;
    }
    
    a:hover {
      background-color: #ddd;
      color: black;
      border-radius: 50%;
    }
    
    .box4{
      display: flex;
      justify-content: center;
      align-items: center;
    }