<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

   
  </head>
  <body>
    <div class="header"></div>
    <br >

    <div class="box1" style="margin-left: -120px;">
      <h1 style="text-align: center">Your Order History</h1>

      <br />
      <span style="margin-left: 200px">
        <b>View your orders placed in </b></span
      >

      <select style="font-size: 12px">
        <option value="3 days">3 days</option>
        <option value="1 week">1 week</option>
        <option value="1 month">1 month</option>
        <option value="6 months">6 months</option>
        <option value="Over 6 months">Over 6 months</option>
      </select>
      <button style="margin-right: 200px"><a href = "Contact" >Contact Us </a></button>
      <button><a href = "">Go back to Homepage</a></button>
      <br>

      <table>
        <tr>
          <th>ORDER DATE</th>
          <th>ORDER TIME</th>
          <th>TOTAL</th>
          <th>ORDER SUMMARY</th>
          <th><a href="CancelOrder">CANCEL YOUR ORDER</a></th>
          <th><a href="WriteReview">WRITE A REVIEW</a></th>
        </tr>

        <tr style="text-align: center">
          <td>__/__/____</td>
          <td>00:00</td>
          <td>$0.00</td>
          <td><a href="OrderSummary">View Order Summary</a></td>
          <td style="color: brown">
            (Order can be cancelled 4 hours before delivery.)
          </td>
          <td><a href="ViewChef">Chef Get Name</a></td>
        </tr>
        <br />
      </table>
    </div>
    <br><br><br >
    <div class="box2">
      <a href="#" class="next round">🔘</a>
      <a href="#" class="previous round">⚫</a>
      <a href="#" class="next round">🔘</a>
    </div>
  </body>
</html>