button {
    text-align: center;
    text-decoration: none;
    margin: 10px;
    padding-right: 20px;
    background-color: rgb(260, 200, 40);
    height: 30px;
    border-radius: 10%;
    font-size: 14px;
  }
  
  select {
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 0;
    border: rgb(260, 200, 40, 0.6) solid;
  }
  
  span {
    margin: 0 0 0 50px;
    font-size: large;
  }
  
  table {
    margin: 0 auto;
    border-radius: 2%;
    width: 1200px;
    height: 100px;
    border: rgb(260, 200, 40);
    background-color: orange;
  }
  
  th {
    background-color: rgb(260, 200, 40);
  }
  
  td {
    background-color: oldlace;
    vertical-align: middle !important;
  }
  
  a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
  }
  
  table a:hover {
    background-color: #ddd;
    color: black;
    border-radius: 50%;
  }
  

  a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
  }
  
  a:hover {
    background-color: #ddd;
    color: black;
    border-radius: 50%;
  }
  
  .box2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .box4{
    display: flex;
    justify-content: center;
    align-items: center;
  }