<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- <script type="text/javascript" src="chefeditprofile.js"></script> -->
  </head>
  <body>
    <div class="header"></div>
    <br />

    <div class="box1">
      <h1 style="text-align: center">Your Order History</h1>

      <br />
      <span style="margin-left: 200px">
        <b>View your orders placed in </b></span
      >

      <select style="font-size: 14px">
        <option value="3 days">3 days</option>
        <option value="1 week">1 week</option>
        <option value="1 month">1 month</option>
        <option value="6 months">6 months</option>
        <option value="Over 6 months">Over 6 months</option>
      </select>

      <button style="margin-right: 200px">
        <a href="Contact"> Contact Us</a>
      </button>
      <button><a href=" ">Go back to Homepage</a></button>
      <br />

      <table
        style="
          margin-left: 200px;
          border-radius: 2%;
          width: 1050px;
          height: 100px;
          border: rgb(260, 200, 40);
          background-color: orange;
        "
      >
        <tr>
          <th>Order Number</th>

          <th>ORDER SUMMARY</th>
          <th>
            <a href="CancelOrder" style="color: darkblue"
              ><u>CANCEL YOUR ORDER</u></a
            >
          </th>
          <th>
            <a href="WriteReview" style="color: darkblue"
              ><u>WRITE A REVIEW</u></a
            >
          </th>
        </tr>

        <tr style="text-align: center">
          <td>1</td>

          <td>
            <a href="OrderSummary" style="color: darkblue"
              ><u>View Order Summary</u></a
            >
          </td>
          <td style="color: brown">
            (Order can be cancelled 4 hours before delivery.)
          </td>
          <td>
            <a href="ViewChef" style="color: darkblue"><u>Meet the Chef</u></a>
          </td>
        </tr>
        <br />
      </table>
    </div>
    <br /><br /><br />
    <div class="box2">
      <a class="next round">🔘</a>
      <a class="previous round">⚫</a>
      <a class="next round">🔘</a>
    </div>
  </body>
</html>