<br>
<img src="assets/Images/step5.png" alt="foodhome" width="1000px" style="margin-left: 220px" />

<br /><br />
<h1>View Your Order Summary</h1>

<div class="cart">
  <div class="cart-item" *ngFor="let item of cartService.cart">
    <div class="menu-img">
      <img class="foodImage" src="data:image/png;base64,{{item.menu.menu_item_image}}" width="200px" height="200px" />
    </div>
    <div class="menu-details">
      <div class="menu-title">
        <h3 class="foodInfo"> {{item.menu.item_name}} </h3>
      </div>
      <div class="menu-info">
        <span class="price">{{item.menu.menu_item_price*item.quantity | currency:'USD'}}</span>
        <div class="menu-action">
          <button class="sub" (click)="reduceQuantity(item.menu)">&#8722;</button><span>{{item.quantity}}</span><button
            class="add" (click)="increaseQuantity(item.menu)">+</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Pricing-->

<div class="order-summary-container">
  <table class="order-summary">
    <tbody>
      <tr>
        <td class="field">Discount</td>
        <td class="value">{{0 | currency:'USD'}}</td>
      </tr>
      <tr>
        <td class="field">Delivery Fee</td>
        <td class="value">{{0 | currency:'USD'}}</td>
      </tr>
      <tr>
        <td class="field">Tax(6%)</td>
        <td class="value">{{getTaxValue() | currency:'USD'}}</td>
      </tr>
      <tr class="total">
        <td class="field">Total</td>
        <td class="value">{{getOrderValue() | currency:'USD'}}</td>
      </tr>
    </tbody>
  </table>
</div>

<hr class="solid" />

<!--Order Times and Personal Requests-->

<h1>Order Times and Requests</h1>

<div>
  <table class="orderTable">
    <tr>
      <td class="mealTime">Breakfast</td>

      <td></td>
      <td></td>
      <td></td>

      <label for="pickupTimes">Select a Pickup Time:</label>
      <select name="pickupTimes" id="pickupBreakfast">
        <option value="volvo">8:00am - 8:45am</option>
        <option value="saab">9:00am - 9:45am</option>
        <option value="mercedes">10:00am - 10:45am</option>
      </select>

      <td></td>
      <td></td>

      <textarea class="textBar" id="breakfastRequest" rows="4" cols="50"
        placeholder="Enter your requests for Breakfast"></textarea>
    </tr>
  </table>
</div>

<div>
  <table class="orderTable">
    <tr>
      <td class="mealTime">Lunch</td>

      <td></td>
      <td></td>
      <td></td>

      <label for="pickupTimes">Select a Pickup Time:</label>
      <select name="pickupTimes" id="pickupLunch">
        <option value="volvo">11:00am - 11:45am</option>
        <option value="saab">12:00pm - 12:45pm</option>
        <option value="mercedes">1:00pm - 1:45pm</option>
      </select>

      <td></td>
      <td></td>

      <textarea class="textBar" id="lunchRequest" rows="4" cols="50"
        placeholder="Enter your requests for lunch"></textarea>
    </tr>
  </table>
</div>

<div>
  <table class="orderTable">
    <tr>
      <td class="mealTime">Dinner</td>

      <td></td>
      <td></td>
      <td></td>

      <label for="pickupTimes">Select a Pickup Time:</label>
      <select name="pickupTimes" id="pickupDinner">
        <option value="volvo">4:00pm - 4:45pm</option>
        <option value="saab">5:00pm - 5:45pm</option>
        <option value="mercedes">6:00pm - 6:45pm</option>
      </select>

      <td></td>
      <td></td>

      <textarea class="textBar" id="dinnerRequest" rows="4" cols="50"
        placeholder="Enter your requests for Dinner"></textarea>
    </tr>
  </table>
</div>

<hr class="solid" />

<!--Order Pickup location and Payment Request-->

<div>
  <table class="infoTable">
    <tr>
      <td class="infoHeadText">Chef Pickup Address:</td>

      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>

      <td class="infoHeadText">Chef Payment Instructions:</td>
    </tr>
  </table>
</div>

<div>
  <table class="infoTable">
    <tr>
      <td class="infoText">Chef Pickup Address Here</td>

      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>

      <td class="infoText">Chef Payment Instructions here</td>
    </tr>
  </table>
</div>

<hr class="solid" />

<div style="margin-bottom: -300px;">
  <nav>
    <a class="routing" href="SelectMenu">Back</a>
    <a class="routing" (click)="placeOrder()">Continue</a>
  </nav>
</div>