/*Starts circles near center*/
.progressCircle{
    margin-left: 10%;
    }

    /*Formats Current Circle*/
   .progressCircle a.current{
    margin: 25px;
    line-height: 250px;
    border-radius: 50%;
    font-size: 15px;
    color: #000;
    text-align: center;
    background: #F6c515;
    padding: 75px 50px;
    border-style:outset;
   } 

   /*Formats non-Current Circles*/
   .progressCircle a.notCurrent{
    margin: 25px;
    line-height: 250px;
    border-radius: 50%;
    font-size: 15px;
    color: #808080;
    text-align: center;
    background: #dbdada;
    padding: 75px 50px;
    border-style:outset;
   } 

    /* Rest of styling*/
    h1{
        text-align: center;
        font-size: 50px;
    }

    .mealHeader{
        font-size: 25px;
        text-align:center;
        color:green;
    }

    .foodImage{
        margin-left: 350px;
        border-radius:50%;
    }
    
    .foodInfo{
        font-size: 30px;
        
    }

    hr.solid {
        border-top: 3px solid black;
      }

      h2{
          text-align: center;
          font-size: 30px;
      }

    table.orderTable{
        margin-left:2.5%;
        margin-top: 100px;
    }

    .mealTime{
        font-size: 25px;
        color:green;
    }

    table tr td:empty{
        width: 50px;
    }

    .textBar{
        resize:none;
    }

    table.infoTable{
        margin-left:18.5%;
        margin-top: 20px;
    }

    .infoHeadText{
        font-size: 30px;
    }

    .infoText{
        font-size: 15px;
    }

    /*Styling router buttons*/
 a.routing{
    width:250px;
    text-align:center;
    padding: 20px 75px;
    display: inline-block;
    margin-top: 120px;
    margin-left: 22.5%;
    color: black;
    background: #F6c515;
    font-size: 30px;
    border: none;
    cursor: pointer;
  }
