    <div class="container">
      <div style="text-align: center"><br>
        <h1>One World, Many Cultures</h1>
        <h3 style="margin-top: -12px">Come Together for Cultural Diversity</h3>

        <br >

        <img
          src="assets/Images/peoplediverse.png"
          alt="Diversitypic"
          width="700"
          height="350px"
          style="vertical-align: middle"
        >
      </div>
    </div>

    <div class="container" style="margin-bottom: 600px;">
      <div class="row" style="text-align: center; margin-bottom: 50px">
        <div class="col-md-2 col-md-offset-3">
          <h2>Service</h2>
          <p>
            We provide services that meet your everyday needs that are
            convenient and cost effective.
          </p>
        </div>

        <div class="col-md-2">
          <h2>Quality</h2>
          <p>We offer top quality services and outstanding customer service.</p>
        </div>

        <div class="col-md-2" style="margin-bottom: 50px">
          <h2>Support</h2>
          <p>
            Our priority is you! We offer services that support local cooks and
            organizations.
          </p>
        </div>
      </div>

      <div class="row" style="text-align: center">
        <div class="col-md-4 col-md-offset-4">
          <h3>Home-Cooked Food</h3>
          <img
            src="assets/Images/foodhome.jpg"
            alt="foodhome"
            width="250"
            height="150px; "
          >

          <p>
          
           
            <button type="button" class="btn btn-primary"> <a href ="EnterZipCode">Order Food</a></button>
          </p>
        </div>

        <!-- <div class="col-md-4 " > -->
        <!-- <h3>Interpreters</h3> -->
        <!-- <img src="assets/Images/interpreterhome.jpg" alt="interpreterhome" width="250" height="150px" > -->

        <!-- <p> -->
        <!-- <button type="button" class="btn btn-primary" style="margin-bottom: 50px;">Book an Appointment </button> -->
        <!-- </p> -->
        <!-- </div> -->
      </div>
    </div>
